<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../public/css/styles.css">

    </head>
    <body>
       {{>header}}
       <p>Heyyyy</p>
       {{>footer}}
        <img src="./robot.png">
    </body>
</html>